### Variables

In [1]:
# variable names can be written in 
# camelCase and snake_case, 
# classes can be written using PascalCase

_day1="Sunday"
day2="Monday"
print(_day1)
print(day2)

Sunday
Monday

In [5]:
# The in-built function input return strings so you need to cast it to int if you're getting integers
x = int(input("Enter you first number: ")) 
y = int(input("Enter your second number: "))

z = x+y
print(z)

Enter you first number: 123
Enter your second number: 123
246

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

    Text Type: 	str
    Numeric Types: 	int, float, complex
    Sequence Types: list, tuple, range
    Mapping Type: 	dict
    Set Types: 	set, frozenset
    Boolean Type: 	bool
    Binary Types: 	bytes, bytearray, memoryview
    None Type: 	NoneType

### Numbers in Python

    Integer  x = 20
    Float    x = 20.9
    Complex  x = 10+2j

In [4]:
x = "Hello World"
type(x)
x = 20
type(x)
x = 20.5
type(x)
x = 1j
type(x)
x = ["apple", "banana", "cherry"]
type(x)
x = ("apple", "banana", "cherry")
type(x)
x = range(6)
type(x)
x = {"name" : "John", "age" : 36}
type(x)
x = {"apple", "banana", "cherry"}
type(x)
x = frozenset({"apple", "banana", "cherry"})
type(x)
x = True
type(x)
x = b"Hello"
type(x)
x = bytearray(5)
type(x)
x = memoryview(bytes(5))
type(x)
x = None
type(x)

NoneType

In [2]:
print("C:\some\name")

C:\some
ame

In [3]:
"Hello\nMy name is Sajan"

'Hello\nMy name is Sajan'

In [6]:
print("\tHello\nMy name is Sajan Gurung")

	Hello
My name is Sajan Gurung

In [7]:
word = "Python"

In [9]:
word[0:5]

'Pytho'

In [10]:
len(word)

6

In [11]:
new_word="""
Hello,
My name is Sajan Gurung."""

In [12]:
print(new_word)

Hello,
My name is Sajan Gurung.

In [13]:
for w in new_word:
    print(w);

H
e
l
l
o
,


M
y

n
a
m
e

i
s

S
a
j
a
n

G
u
r
u
n
g
.

In [16]:
new_word.capitalize()

'\nhello,\nmy name is sajan gurung.'

In [17]:
new_word.format()

'\nHello,\nMy name is Sajan Gurung.'

In [19]:
new_word.startswith('a')

False

In [20]:
new_word.upper()

'\nHELLO,\nMY NAME IS SAJAN GURUNG.'

In [21]:
new_word.title()

'\nHello,\nMy Name Is Sajan Gurung.'

In [22]:
new_word.replace("Hello", "Bonjore!")

'\nBonjore!,\nMy name is Sajan Gurung.'

In [23]:
new_word

'\nHello,\nMy name is Sajan Gurung.'

### List

In [21]:
players =["Messi", "Ronaldo", "Kaka"]
players_goals=[3,5,7]

# print(players)
# print(players_goals)

for x in range(len(players)):
    print(players[x], players_goals[x])

Messi 3
Ronaldo 5
Kaka 7

In [22]:
for p in players:
    print(p)

Messi
Ronaldo
Kaka

In [7]:
players[0]

'Messi'

In [9]:
players[0:3]

['Messi', 'Ronaldo', 'Kaka']

In [14]:
# Deep copy and shallow copy
gboot = ["Messi", "Mbape", "Giround"]
sgboot = gboot # Shallow copy // stores the reference of gboot only
dgboot = gboot.copy() # Deep copy // copies the the object itself

gboot.append("Tessy")
cgboot.append("Dessy")

print(cgboot)
print(gboot)

['Messi', 'Mbape', 'Giround', 'Tessy', 'Dessy', 'Dessy']
['Messi', 'Mbape', 'Giround', 'Tessy']

In [3]:
# min and max in list

list01 = [2,1,7,8,9,6]
print(min(list01))

list03 = ['A', 'a']
print(min(list03))

1
A

In [8]:
# tuple
# used for multiple values which can't be changed after you define it
_tup01 = ("Messi", "MBampe")
print(_tup01)
print(_tup01[0])

print(len(_tup01))

('Messi', 'MBampe')
Messi
2

In [12]:
# Dictionaries -> Stores multiples valued in key and value pair format. key: pair
emp ={
    "name":"Sajan",
    "age": 26,
    "email": "gsajan21@gmail.com"
}
print(emp)
print(emp["email"])
print(emp.get("Sajan"))

{'name': 'Sajan', 'age': 26, 'email': 'gsajan21@gmail.com'}
gsajan21@gmail.com
None

In [20]:
# Set -> unordered and unchangeable
_set01 = {"Sajan", 4, "Mbampe"}
# _set01.remove("Sajan")
_set01.discard("Sajan")
_set01.add("Rajan")
print(_set01)

{'Mbampe', 4, 'Rajan'}

In [21]:
# Boolean
x = 10
y = 20
z = True
print(x > y)

False

In [22]:
# Comparison Operators -> >, <, >=, <=< !=, ==
n1 = 10
n2 = 20
print(n1 == n2)

False

In [24]:
# Arithmetic Operators -> +, -, *, /, //
n1 = 20
n2 = 20
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1//n2)

40
0
400
1.0
1

In [26]:
# Logical Operators or, and
a = 10
b = 20
print(a > 5 or a > 20)
print(a > 5 and a > 20)

True
False

In [27]:
# Membership Operators in/not 
a = "abcdef"
print("z" not in a)

True

In [28]:
# Identity Operators
a =['a', 'b', 'c']
b = a
a.append('c')
print(a == b)

True

### Python Control Structures and Functions
#### Control Structures - Decision Making in Python
    * if else
    * if elif
    * for loop
    * while loop
    * break/continue/pass
    
### Function in Python
    * Function Structure
    * Simple function

In [1]:
# Multiline string
x = """Your Order has been placed,
Please wait for 30 minutes"""
print(x)

Your Order has been placed,
Please wait for 30 minutes

In [7]:
# if/else/elif
# if<condition>
#    statements

x = int(input("Enter a number: "))
print(type(x))
if x == 1:
    print("It is Sunday.")
elif x == 2:
    print("It is Monday.")
else:
    print("It is other days.")

Enter a number: 4
<class 'int'>
It is other days.

In [1]:
# while loop

## Day - 4
## Module

    * create .py file
    * import your code
    * use it in the coding
## Class
    * State, Behavior
    * __init()__
    * __str()__
    * access variables of class
    * write a class to accept employ and display it.

In [3]:
def sum(n1, n2):
    return n1+n2

print(sum(3,6))

9

In [18]:
# Class
class Emp():
    '''This is my first class''' # Docstring
    v1 = 10
    def __init__(self): # default constructor
        print("Object Created!!!")
        
    def __init__(self, emp_name): # parameterized constructor
        self.ename = emp_name
        
    def display(self):
        print(self.ename)
    
obj1 = Emp("Sajan") # obj1 is object or instance of Emp class

obj1.display()

Sajan

In [31]:
class Employee:
    # class variable
    company = "My Company"
    
    def __inti__(self):
        print("")
    
    def __init__(self, name, dept, salary):
        # instance variable
        self.name = name
        self.dept = dept
        self.salary = salary
        
    # instance method
    def show(self):
        print("Employee: ", self.name, self.dept, self.salary, Employee.company)
      
    # instance method
    def change_salary(self, new_salary):
        # modify salary or single instance variable
        self.salary = new_salary
    
    # class method
    @classmethod
    def change_name(cls, new_company):
        # modify class variable
        cls.company = new_company
    

emp1 = Employee("Sajan", "IT", 2345)
    
emp1.show()

Employee:  Sajan IT 2345 My Company

## Range
    * range(start, stop, increment)
   
## Class Inheritance

    * Destructors
    * Static methods
    * What is class inheritance
    * Perform class inheritance
    
## File Handling
    * open file -> open("filename", "access")
    * write()
    * close()
    * r, w, a, x, t, b (Default is r and t)
    * Delete file (Need to import os)

In [2]:
# range
for x in range(0, 10, 2): # here 8 is not included
    print(x)

0
2
4
6
8

In [7]:
# Destructor
class Dest():
    def __init__(self):
        print("Constructor")
    def __del__(self):
        print("Destructor")

dest01 = dest()
del dest01

Constructor
Destructor

In [8]:
# static method
class A():
    @staticmethod
    def st1(n1):
        return n1

x = a()
print(a.st1("Welcome"))
print(x.st1("Surya"))

Welcome
Surya

In [39]:
class CommonPerson():
    ''' Common Properties of Class '''
    
    var1 = 10
    
    def __init__(self, cname, cphone):
        self.cname = cname
        self.cphone = cphone
        
    def common_display(self):
        print("Info: ", self.cname, self.cphone)

    @classmethod
    def display_var(cls):
        print("Accessing global variable: ", var1)
obj1 = CommonPerson("Sajan", 7871232133)
# obj1.display()
CommonPerson.display_var()

# class inheritance
class Student(CommonPerson): # CommonPerson is a parent class of Student, child class
    def __init__(self, uni):
        self.uni = uni
        
    def stu_display(self):
        print(self.uni)

stu1 = Student("SFSU")
stu1.stu_display()
super("Sajan", 234234).common_display()

NameError: name 'var1' is not defined